:root {
	--color-text: #616161;
	--color-text__primary: #48c516e0;
	--color-primary: #000;
	--color-link__hover: #e2aa0e;
	--color-btn: #fcfdfe;
	--background-color: #97343b;
	--background-color-btn: #ec5863;
	--background-color-btn__hover: #4bd173;
	--background-color-btn__blue: #4285f4;
	--background-color-btn__blue__hover: #780fa1;
	--border-5: 5px;
}
/* Изначальные данные,кроме значения ширины */
/* Обнуление */

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
}

body {
	font-family: Rubik;
	font-size: 12px;
	color: var(--color-text);
}

.wrapper {
	overflow: hidden; /* Скрывает вложенные элементы при размещении на странице */
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

[class*="__container"] {
	max-width: 1087px; /* Максимальная ширина контейнера */
	margin: 0 auto; /* Центрирование контейнера */
	padding: 0 9px; /* Отступы безопастности,поэтому ширина контейра становится 1087px */
}

main {
	flex: 1 1 auto; /* Для расширения и прижатия footer к низу страницы */
}
/* _____________________________________________ */

/* PC */
@media (max-width: 1087px) {
	[class*="__container"] {
		max-width: 970px;
	}
}
/* Tablet */
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px;
	} /* Максимальная ширина контейнера */
}

/* mobile */
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
}
/* mobile small */
@media (max-width: 479.98px) {
}
